/* body {
    font: normal 30px Verdana, Arial, sans-serif;
} */


/* .section {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: -1;
    background: url(pic/p.jpg), rgba(136, 15, 15, 0.459);
    position: relative;
    height: 80vh;
    background-size: 120%;
    background-repeat: no-repeat;
}

.section1 {
    margin-top: 10px;
}

.section1 td input:hover,
.section1 td input:active {
    border: 4px solid rgb(22, 90, 216);
}

.section1 td input {
    size: 40;
}

.section1 h3 {
    margin-top: 20px;
} */